/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #f1b2ce;
  --accent-title-color: #db00ff;
  --accent-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --bg-cover-image: url(../images/cover-image-dark.png);
  --title-decor: #ff0070;
  --rec-color: var(--accent-color);
  --article-title-color: var(--bg-color);
  --text-shadow: #ff0070;
}