/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  --transition-duration: 0.25s;
  color: var(--main-text-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  transition-duration: var(--transition-duration);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corners-color);
  border-left: 1px solid var(--corners-color);
}

@media (width < 768px) and (width >= 375px) {
  .decorated-zone::before {
    bottom: 17px;
    left: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corners-color);
  border-right: 1px solid var(--corners-color);
}

@media (width < 768px) and (width >= 375px) {
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
}

/*Header*/

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  padding: 0 20px;
}

.header__rec {
  position: absolute;
  top: 21px;
  right: 49px;
  color: var(--rec-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header__theme-menu-button {
  border: none;
  padding: 2.5px 12px;
  outline: 1px solid transparent;
  color: var(--corners-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--corners-color);
  pointer-events: none;
}

.header__title {
  margin-left: -2%;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.heading {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow:row;
  padding: 238px 0 136px;
  grid-gap: 76px;
}

.header__text {
  justify-self: end;
  width: 50%;
  color: var(--article-title-color);
  font-weight: 700;
}

@media (width < 768px) and (width >= 375px) {
  .header {
    padding: 0 10px;
  }
  
  .header__rec {
    top: 11px;
    right: 39px;
  }

  .header__theme-menu-list {
    gap: 11px;
  }

  .header__theme-menu {
    padding-top: 75px;
  }

  .heading {
    gap: 57px;
    padding: 70px 0 74px;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
  }
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .header__theme-menu {
    padding-top: 190px;
  }

  .heading {
    gap: 133px;
    padding: 150px 0 183px;
  }

  .header__title {
    margin-left: -3%;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }
}

@media (width < 425px) {
  .header__text {
    width: 100%;
  }
}

/*Main*/

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 80px;
  margin: 60px 0;
  padding: 0 20px;
}

.section {
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 18px;
}

.dark-title {
  color: var(--article-title-color);
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  color: var(--article-title-color);
  font-weight: 700;
  font-size: 18px;
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  color: var(--article-title-color);
  font-weight: 700;
  font-size: 18px;
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section:first-of-type,
.section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section:first-of-type .section__title,
.section:nth-of-type(3) .section__title {
  flex: 0 0 auto;
  width: 33%;
}

.section:first-of-type .section__article-list,
.section:nth-of-type(3) .section__article-list {
  flex-direction: column;
  flex: 0 0 auto;
  gap: 20px;
  width: 66%;
}

.section:nth-of-type(2) .section__title {
  width: 30%;
}

.section:nth-of-type(2) .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

.section:last-of-type {
  display: grid;
}

.section:last-of-type .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

@media (width < 768px) and (width >= 375px) {
  .main {
    gap: 50px;
    margin: 34px 0;
    padding: 0 10px;
  }

  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 100%;
    margin-bottom: 20px;
  }

  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 100%;
  }

  .section:nth-of-type(2) .section__title {
    width: 100%;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .section__title {
    width: 35%;
  }

  .section:first-of-type .section__title,
  .section:nth-of-type(3) .section__title {
    width: 32%;
  }

  .section:first-of-type .section__article-list,
  .section:nth-of-type(3) .section__article-list {
    width: 65%;
  }
}

@media (width >= 1024px) {
  .section:nth-of-type(2) .section__article-list {
    justify-content: space-between;
  }
}

@media (width < 1024px) and (width >= 375px) {
  .section:nth-of-type(2) .section__article-list {
    gap: 20px;
  }

  .section:nth-of-type(2) .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}

@media (width >= 768px) {
  .section:last-of-type .section__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .section:last-of-type .section__image:first-of-type,
  .section:last-of-type .section__image:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .section__image:nth-of-type(2),
  .section:last-of-type .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .section:last-of-type {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
}

@media (width < 768px) {
  .section:last-of-type .section__image {
    width: 100%;
    height: auto;
  }

  .section:last-of-type .section__image-container {
    width: 100px;
  }

  .section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/*Footer*/

.footer {
  position: relative;
  padding: 282px 20px;
  text-align: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width < 1024px) and (width >= 375px) {
  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer {
    margin-top: 40px;
    padding: 262px 10px;
  }
}

@media (width < 1024px) and (width >= 768px) {
  .footer {
    padding: 434px 20px;
  }
}