/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono";
  --text-color: #f1b2ce;
  --accent-title-color: #db00ff;
  --accent-color: #ff0070;
  --hover-color: #ff007066;
  --bg-color: #000028;
  --bg-cover-image: url(../images/cover-image-dark.png);
  --title-decor: #ff0070;
  --rec-color: var(--accent-color);
  --article-title-color: var(--bg-color);
  --text-shadow: #ff0070;
}